# ======================
# Node Modules
# ======================
node_modules/

# ======================
# Environment Variables
# ======================
.env

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Uploads (images)
# ======================
uploads/

# ======================
# OS Junk
# ======================
.DS_Store
Thumbs.db

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Tailwind Build
# ======================
dist/
build/

# ======================
# Coverage
# ======================
coverage/